@import "tailwindcss";

img.logo-lacco-dark {
    width: 90px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(158deg) brightness(121%) contrast(115%);
}

@config "../../tailwind.config.js"

